
#para1 {
	font-family: "Georgia" Garamond serif;
	font-style: normal;
	font-size: 25px;
	font-weight: bolder;
	color: #8D86F2;
	
	text-indent: 10px;
	text-decoration-line: underline;
	text-decoration-thickness: 5px;
	text-decoration-style: double;
	text-decoration-color: tomato;
}

#para2 {
	font-family: Helvetica sans-serif;
	font-size: 40px;
	text-align: left;
	
	text-decoration: none;
}

#para3 {
	font-family: Papyrus;
	font-size: 25px;

	text-decoration: overline underline line-through;
}


#para4 {
	font-family: "Lucida Handwriting";
	font-style: italic;
	font-size: 25px;
}

#para5 {
	font: italic bold 50px Arial; 
	letter-spacing: 25px;
}

#para6 {
	font: bold 18px Arial; 
	text-align: justify;
	
	text-indent: 50px;
	word-spacing: 10px;
}

#link1 {
   font-size: 25px;
   text-decoration: line-through;
}

input[type="text"] {
	width: 80%;
	background-color: #66F5F5;
	border: double 2px red;
	font-size: 30px;
}

input[type="date"] {
	background-color: #00ff00;
}

input[type="text"]:focus {
	background-color: #7FE618;
	font-style: italic;
}